webSIte/webSIte/Connected Services/UserServiceReference/UserFunctionality1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateRegistered" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserEmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isUserRegistered" type="xs:int" />
      <xs:element minOccurs="0" name="userType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserClass" nillable="true" type="tns:UserClass" />
  <xs:complexType name="ArrayOfUserClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserClass" nillable="true" type="tns:UserClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserClass" nillable="true" type="tns:ArrayOfUserClass" />
</xs:schema>