webSIte/webSIte/Connected Services/TrackServiceReference/SongsFunctionality.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60336/SongsFunctionality.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="addSong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="song" nillable="true" type="q1:SongClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSongResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeSong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeSongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeSongResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="album" nillable="true" type="q2:ArrayOfSongClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addAlbumResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSongResult" nillable="true" type="q3:SongClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSongs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllSongsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getAllSongsResult" nillable="true" type="q4:ArrayOfSongClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSongsByGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSongsByGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getSongsByGenreResult" nillable="true" type="q5:ArrayOfSongClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSongsByAlbum">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSongsByAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getSongsByAlbumResult" nillable="true" type="q6:ArrayOfSongClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>