webSIte/webSIte/Connected Services/TrackServiceReference/SongsFunctionality2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SongClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contributors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateReleased" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="albumId" type="xs:int" />
      <xs:element minOccurs="0" name="albumName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="artistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="genreSubcategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isSongActive" type="xs:int" />
      <xs:element minOccurs="0" name="songName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SongClass" nillable="true" type="tns:SongClass" />
  <xs:complexType name="ArrayOfSongClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SongClass" nillable="true" type="tns:SongClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSongClass" nillable="true" type="tns:ArrayOfSongClass" />
</xs:schema>